<div class="container">
  <p><b>Mitarbeiter</b></p>

  <!-- Search Bar --><!--
  <div class="input-group search-bar">
    <input
      aria-describedby="search-addon"
      aria-label="Suchen"
      placeholder="Suchen..."
      type="search"
      (input)="onSearchChange($event)" />
    <button class="btn btn-outline-primary" type="button">Search</button>
  </div>-->


  <div class="input-group">
    <div class="form-outline" data-mdb-input-init>
      <input type="search" class="search-bar" id="form1" class="form-control"  (input)="onSearchChange($event)" />
    </div>
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>

  <div class="frame-boxes-outside box-outside">

    <div class="frame-boxes-inside box-inside">
      <div class="overflow-auto" style="max-height: 150px;">
        <ul class="list-group" id="employee-list">
          <li
            (click)="setActiveEmployee(employee)"
            *ngFor="let employee of filteredEmployees$ | async"
            [class.active]="employee.id === activeEmployee?.id"
            class="list-group-item"
          >{{ employee.lastName }}, {{ employee.firstName }}
          </li>
        </ul>
      </div>
    </div>

    <div class="btn-group btn-group-sm" role="group">
      <button
        (click)="removeEmployee()"
        class="btn btn-danger btn-sm"
        type="button">Löschen
      </button>
      <button
        (click)="editEmployee()"
        class="btn btn-primary btn-sm"
        type="button">Bearbeiten
      </button>
      <button
        (click)="addEmployee()"
        class="btn btn-success btn-sm"
        type="button">Hinzufügen
      </button>
    </div>

  </div>
</div>
