<div style="width: fit-content; align-content: center;">
  <h2 style="text-align: center">Mitarbeiter</h2>
  <li></li>
  <table style="width: fit-content;">
    @for (e of employees$ | async; track e.id) {
      <tr>
        <td>{{ e.lastName }} {{ e.firstName }}</td>
        <td><input type="checkbox" style="padding-left: 2px"></td>
      </tr>
    }
  </table>
  <li></li>
  <div style="align-content: center">
    <button class="btn btn-dark" type="button">Hinzufügen</button>
    <button class="btn btn-danger" type="button">Lösche</button>
  </div>

</div>
