.container{
  margin: 20px;
}

.box-outside{
  display: inline-flex;
  gap: 20px;
}

.box-address {
  width: 225px;
}

.box-employee-qualifications {
  width: 225px;
  height: 200px;
}

th, td {
  padding-right: 15px;
}
