th, td {
  padding-right: 15px;
}

.box-employee-details{
  margin: 20px;
  padding: 20px;
  background: white;
  border: gray solid 1px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: fit-content;
}

.frame-simple {
  padding: 7px;
  background: lightgrey;
  border: gray solid 1px;
  border-radius: 5px;
  width: fit-content;
}


