<div class="box-employee-details">

  <p>Adresse:</p>

  <div class="frame-simple">
    <table>
      <tbody>
      <tr>
        <td>Straße:</td>
        <td>Agricolastraße 11</td>
      </tr>
      <tr>
        <td>PLZ:</td>
        <td>09599</td>
      </tr>
      <tr>
        <td>Stadt:</td>
        <td>Freiberg</td>
      </tr>
      <tr>
        <td>Telefon:</td>
        <td>0173 93983273</td>
      </tr>
      </tbody>
    </table>
  </div>

  <br>
  <p>Qualifikationen:</p>

  <div class="frame-simple">
    <div class="overflow-auto" style="max-height: 200px;">
      <ul class="list-group">
        <li class="list-group-item">Element 1</li>
        <li class="list-group-item">Element 2</li>
        <li class="list-group-item">Element 3</li>
        <li class="list-group-item">Element 4</li>
        <li class="list-group-item">Element 5</li>
        <li class="list-group-item">Element 6</li>
        <li class="list-group-item">Element 7</li>
        <li class="list-group-item">Element 8</li>
        <li class="list-group-item">Element 9</li>
        <li class="list-group-item">Element 10</li>
      </ul>
    </div>
  </div>

</div>

