<h2 mat-dialog-title style="margin-bottom:4px">Qualifikation bearbeiten</h2>
<div mat-dialog-content>
  <div class="dialog-container">
    <!-- Linke Spalte: Vorname und Nachname -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>ID</mat-label>
      <input [(ngModel)]="qualification.id" disabled matInput placeholder="ID"/>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Qualifikation</mat-label>
      <input [(ngModel)]="qualification.skill" matInput maxlength="25" placeholder="Qualifikation" required/>
    </mat-form-field>
  </div>
</div>

<!-- Buttons unten rechts -->
<div align="end" mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button (click)="saveQualification(qualification)" [disabled]="!qualification.skill" color="primary"
          mat-raised-button>
    Speichern
  </button>
</div>
