<div class="main-area">

  <header>
    <p id="header-title">Mitarbeiterverwaltung</p>

    <button (click)="logout()" class="btn btn-secondary btn-sm" type="button">
      Logout
      <fa-icon [icon]="faSignOut"></fa-icon>
    </button>
  </header>

  <div class="content-area">
    <div class="employee-area">
      <app-employee-list></app-employee-list>
    </div>

    <div class="right-area">
      <app-employee-details></app-employee-details>
      <app-qualifications></app-qualifications>
    </div>
  </div>

</div>
