.container{
  margin: 20px;
}

.box-outside{
  display: inline-flex;
  gap: 20px;
  height: 200px;
}

.box-qualifications {
  width: 175px;
}

.box-editing {
  width: 175px;
  height: fit-content;
}

.btn-group-qualifications{
  display: flex;
  justify-content: flex-end;
}
