<div class="container">
  <p><b>Qualifikationen bearbeiten:</b></p>

  <div class="frame-boxes-outside box-outside">

    <div class="frame-boxes-inside box-qualifications">
      <div class="overflow-auto" style="max-height: 150px;">
        <ul class="list-group">
          @for (qualificationsObservable of qualifications$ | async; track qualificationsObservable.skill) {
            <li class="list-group-item">{{ qualificationsObservable.skill }}</li>
          }
        </ul>
      </div>
    </div>

    <div class="frame-boxes-inside box-editing">

      <div class="input-group input-group-sm mb-3">
        <input aria-describedby="inputGroup-sizing-sm"
               class="form-control"
               id="new-qualification"
               placeholder="Neue Qualifikation"
               type="text"
               #newQualificationInput>
      </div>

      <div class="btn-group-qualifications">
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn btn-danger" id="btn-add-general-qualification" type="button">Remove</button>
          <button (click)="addQualification(newQualificationInput.value)"
                  class="btn btn-success"
                  id="btn-rm-general-qualification"
                  type="button">
            Add
          </button>
        </div>
      </div>

    </div>

  </div>

</div>
