<div class="container">
  <p><b>Qualifikationen bearbeiten:</b></p>

  <div class="frame-boxes-outside box-outside">

    <div class="frame-boxes-inside box-qualifications">
      <div class="overflow-auto" style="max-height: 150px;">
        <ul class="list-group" id="qualification-list">
          <li
            (click)="setActiveQualification(qualification)"
            *ngFor="let qualification of qualifications$ | async"
            [class.active]="qualification === activeQualification"
            class="list-group-item"
          >{{ qualification.skill }}
          </li>
        </ul>
      </div>
    </div>

    <div class="frame-boxes-inside box-editing">

      <div class="input-group input-group-sm mb-3">
        <input #newQualificationInput
               aria-describedby="inputGroup-sizing-sm"
               class="form-control"
               id="new-qualification"
               placeholder="Neue Qualifikation"
               type="text">
      </div>

      <div class="btn-group btn-group-sm" role="group">
        <button
          (click)="removeQualification()"
          class="btn btn-danger"
          type="button">Löschen
        </button>
        <button
          (click)="addQualification(newQualificationInput.value)"
          class="btn btn-success"
          type="button">Hinzufügen
        </button>
      </div>

    </div>

  </div>

</div>
