.box-outside {
  display: inline-flex;
  width: 440px;
  gap: 10px;
}

.box-editing {
  width: 175px;
  height: fit-content;
}

.box-qualifications {
  display: inline-flex;
  flex-direction: column;
  width: 225px;
  gap: 10px;
}

.box-buttons {
  float: right;
}
